body {
    font-family: 'Anuphan', sans-serif;
    color: rgb(36, 32, 32);
    text-align: center;
    line-height: 40px;
    background-color: rgb(249, 246, 211);
}

.pokedex__container {
    max-width: 700px;
    margin: 0 auto;


}

.pokemon-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.my-button {
    background-color: red;
    color: white;
    padding:10px;
    margin: 0;
    width:100%;
    

}
