/* main structure */

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(36, 32, 32);
    text-align: center;
    line-height: 40px;
    background-color: #f5f1f1;
}

.pokedex__container {
    max-width: 700px;
    margin: 100px auto;
}

/* navigation */

nav {
    background-color: #3b4cca;
}


.navbar-brand {
    color: #fff;
    opacity: 0.8;
    transition-duration: 0.5s;
    transition-property: opacity;
}


.navbar-brand:hover {
    color: #fff;
    opacity: 1;
}



/* js generated list items */

.pokemon-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.pokemon-list li {
    flex-basis: 0;
    flex-grow: 1;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.btn-primary {
    border-radius: 10px;
    border-color: #3b4cca;
    border-width: 2px;
    background-color: #ffde00;
    color: #3b4cca;
}

/* spinning pokeball */

.ptop {
    height: 50px;
    margin-right: 20px;
}

.ptop:hover {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* modal styling */

.modal-content {
    border-radius: 20px;
    padding: 20px;
    background-image: linear-gradient(#ffde00, #ffde00);
}

.modal-content h1 {
    font-family: 'Bebas Neue', sans-serif;
}

.modal-footer {
    border-top: 3px solid #000;
}

.modal-header {
    border-bottom: 3px solid #000;
}

.btn-secondary {
    background-color: #3a4cca;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.btn-secondary:hover {
    background-color: #3a4cca;
    opacity: 0.8;
}

/* about page style */

.info {
    text-align: left;
}
